@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root{
    --main-color: rgb(252, 3, 115);
    --other-color: white;
    --black: #f7057e;
    --white: rgb(251, 250, 252);
    --light-black: #777;
    --light-white: rgba(255, 255, 255, 0.973);
    --dark-bg:rgba(0,0,0,.7);
    --rgba-bg:blue;
    --border:.1rem  solid var(--black);
    --box-shadow:0 20px 10px rgba(24, 7, 136, 0.1);
    --text-shadow:0 15px 30px rgba(247, 5, 5, 0.1);
}

*{
    font-family: 'Poppins',sans-serif;
    margin:0; padding:0;
    box-sizing:border-box;
    outline:none; border:none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 65%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-track{
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

section{
    padding:20px 5%;
}

@keyframes fadeIn{
    0%{
        transform: scale(-.5);
        opacity: 0;
    }
}

.heading{
    background-size: cover !important;
    background-position: center !important;
    padding-top: 100px;
    padding-bottom:150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1{
    font-size: 100px;
    text-transform: uppercase;
    color: antiquewhite;
    text-shadow: var(--text-shadow);
}

.btn{
    display:inline-block;
    background:black;
    margin-top: 10px;
    color: var(--white);
    font-size: 17px;
    padding:10px 30px;
    cursor:pointer;
}
.btn:hover{
    background-color: #f7057e;
}

.heading-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 55px;
    text-transform: uppercase;
    color: black;
}

.header{
    position: sticky;
    top:0;left:0;right:0;
    z-index: 1200;
    background-color: var(--white);
    display:flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: none;
    padding-left: flex;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-size: 35px;
    color: var(--black);
}
.header .navbar a{
    font-size: 25px;
    margin-left: 2rem;
    color: var(--black);
}
.header .navbar a:hover{
    color: var(--main-color);
}
#menu-btn{
    font-size: 2.5rem;
    cursor:pointer;
    color:var(--black);
    display:none;
}

.home{
    padding:0;
}

.home .swiper-slide{
    text-align:center;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position:center !important;
    min-height: 750px;
}

.home .swiper-slide .content{
    width:85rem;
    display: none;
}

.home .swiper-slide-active .content{
    display: inline-block;
}

.home .swiper-slide .content span{
    display: block;
    font-size: 30px;
    color:var(--black);
    padding-bottom: 10px;
    animation:fadeIn .4s linear backwards .2s;
}

.home .swiper-slide .content h3{
    font-size: 5vw;
    color: rgb(254, 254, 253);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding:10px;
    animation:fadeIn .4s linear backwards .4s;
}
.home .swiper-slide .content .btn{
    animation:fadeIn .4s linear backwards .6s;

}

.home .swiper-button-next,
.home .swiper-button-prev{
    top:inherit;
    left:inherit;
    bottom:0;
    right:0;
    height:70px;
    width:70px;
    background:whitesmoke;
    color:var(--black);
    align-items: center !important;
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover{
    background:white;
    color:black;
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after{
    font-size:30px;
}

.home .swiper-button-prev{
    right: 70px;
}

.home-about{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
.home-about .image{
    flex:1 1 41rem;
}

.home-about .image img{
    width : 100%;
}

.home-about .content{
    flex:1 1 41rem;
    padding:30px;
    background:rgb(151, 158, 161);
    margin:20px ;
}

.home-about .content h3{
    font-size: 30px;
    color: black;
}
.home-about .content p{
    font-size: 12px;
    padding:10px 0;
    line-height: 2;
    color: black;
}

.services .box-container
{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
    gap:15px;
}

.services .box-container.box{
    padding:30px 2px;
    text-align: center;
    background: var(--main-color);
}

.services .box-container .box:hover{
    background: var(--black);
}

.services .box-container.box img{
    height: 70px;
}

.services .box-container.box h3{
    color: rgb(253, 251, 251);
    font-size: 17px;
    padding-top:20px;
}

.home-packages{
    background:rgba(242, 246, 247, 0.961);
}
.home-packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap:2rem;
}

.home-packages .box-container .box{
    border:var(--border);
    box-shadow: var(--box-shadow);
    background: white;
}

.home-packages .box-container .box:hover .image img{
    transform: scale(1.1);
}

.home-packages .box-container .image{
    height:250px;
    overflow:hidden;
}
.home-packages .box-container .image img{
    height:100%;
    width:100%;
    object-fit: cover;
    transition: .2s linear;
}

.home-packages .box-container .box .content{
    padding:20px;
    text-align: center;
}

.home-packages .box-container .box .content h3{
    font-size: 25px;
    color: black;
}

.home-packages .box-container .box .content p{
    font-size: 15px;
    color:black;
    line-height: 2;
    padding: 10px,0;
}

.home-packages .load-more{
    text-align: center;
    margin-top:20px ;
}

.home-offer{
    text-align: center;
}

.home-offer .content{
    max-width: 700px;
    margin:0px auto;
}

.home-offer .content h3{
    font-size: 40px;
    text-transform: uppercase;
    color:black;
}

.home-offer .content p{
    font-size: 15px;
    color:var(--light-black);
    line-height: 2;
    padding: 15px 0;
}
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
}

.about .image{
    flex:1 1 410px;
}

.about .image img{
    width:100%;
}

.about .content{
    flex:1 1 410px;
    text-align: center;
}

.about .content h3{
    font-size: 30px;
    color:black;
}

.about .content p{
    font-size: 15px;
    color:black;
    line-height: 2;
    padding:10px 0;
}

.about .content .icons-container{
    margin-top: 20px;
    display: flex;
    flex-wrap:wrap;
    gap:15px;
    align-items: flex-end;
}

.about .content .icons-container .icons{
    background:rgb(215, 212, 212);
    padding:20px;
    flex:1 1 160px;
}

.about .content .icons-container .icons i {
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--main-color);
}

.about .content .icons-container .icons span{
    font-size: 20px;
    color:orangered;
    display: block;
}

.reviews{
    background:rgb(215, 212, 212) ;
}
.reviews .slide{
    padding: 20px;
    border:var(--border);
    background: var(--white);
    text-align: center;
    box-shadow: var(--box-shadow);
    user-select:none;
}

.reviews .slide .stars{
    padding-top: 10px;
}
.reviews .slide .stars i{
    font-size: 17px;
    color: var(--main-color);
}

.reviews .slide p{
    font-size: 15px;
    color: var(--light-black);
    line-height: 2;
    padding: 10px 0;
}

.reviews .slide h3{
    font-size: 20px;
    color:black
}
.reviews .slide span{
    font-size: 20px;
    color:var(--main-color);
    display: block;
}

.reviews .slide img{
    height:150px;
    border-radius:50%;
    width: 180px;
    margin-top: 10px;
}

.packages{
    background:rgba(242, 246, 247, 0.961);
}

.packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap:2rem;
}

.packages .box-container .box{
    border:var(--border);
    box-shadow: var(--box-shadow);
    background: white;
    display: none;
}

.packages .box-container .box:nth-child(1),
.packages .box-container .box:nth-child(2),
.packages .box-container .box:nth-child(3),
.packages .box-container .box:nth-child(4),
.packages .box-container .box:nth-child(5),
.packages .box-container .box:nth-child(6),
.packages .box-container .box:nth-child(7),
.packages .box-container .box:nth-child(8)
{
    display: inline-block;
}

.packages .box-container .box:hover .image img{
    transform: scale(1.1);
}

.packages .box-container .image{
    height:250px;
    overflow:hidden;
}
.packages .box-container .image img{
    height:100%;
    width:100%;
    object-fit: cover;
    transition: .2s linear;
}

.packages .box-container .box .content{
    padding:20px;
    text-align: center;
}

.packages .box-container .box .content h3{
    font-size: 25px;
    color: black;
}

.packages .box-container .box .content p{
    font-size: 15px;
    color:black;
    line-height: 2;
    padding: 10px,0;
}

.packages .load-more{
    text-align: center;
    margin-top:20px ;
}

.booking .book-form{
    padding:20px;
    background:rgb(203, 202, 202);
}
.booking .book-form .flex{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}
.booking .book-form .flex .inputBox{
    flex:1 1 410px;
}

.booking .book-form .flex .inputBox input{
    width:100%;
    padding:12px 14px;
    font-size: 16px;
    color:var(--light-black);
    text-transform:none ;
    margin-top: 15px;
    border:var(--border);
}

.booking .book-form .flex .inputBox input:focus{
    background: black;
    color: white;
}   

.booking .book-form .flex .inputBox input:focus::placeholder{
    color: white;
}   


.booking .book-form .flex .inputBox span{
    font-size: 20px;
    color: var(--light-black);
}   

.booking .book-form .btn{
    margin-top: 20px;
}

.footer{
    background: url(../images/footerbg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.footer .box-container .box h3{
    color:var(--main-color);
    font-size:25px;
    padding-right: none;
    padding-bottom:10px;
}
.footer .box-container .box a{
    color:var(--other-color);
    font-size:15px;
    padding-bottom:20px;
    display: block;
}

.footer .box-container .box a i{
    color: var(--other-color);
    padding-right: 5px;
    transition: .2s linear;

}
.footer .box-container .box a:hover i{
    padding-right: 2px;
}

.footer .credit{
    text-align: center;
    padding-top: 30px;
    margin-top: 30px;
    border-top: 3px solid var(--other-color);
    font-size: 30px;
    color: var(--other-color);
}

.footer .credit span{
    color:var(--main-color);
}
/* media queries */

@media (max-width:1200px){
    section{
        padding:3rem 5%;
    }
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
    }

    .home .swiper-slide .content h3
    {
        font-size: 10vw;
    }
}
@media (max-width:768px){
    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }
    #menu-btn.fa-times{
        transform:rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top:99%; left:0;right:0;
        background-color: var(--white);
        border-top: var(--border);
        padding:2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display:block;
        margin: 50px;
        text-align: center;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
    .heading-title{
        font-size:35px;
    }
}
